<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Staff API test suite" verbose="1">
    <test name = "Regression Test">
        <classes>
            <class name="com.example.staffProject.alltests.getTests"/>
            <class name="com.example.staffProject.alltests.PostAPI"/>
            <class name="com.example.staffProject.alltests.PutAPI"/>
            <class name="com.example.staffProject.alltests.DeleteAPI"/>
        </classes>

    </test>
</suite>